.container{
    .row{
        .col-4{
            word-spacing: 10px;
            i{
                margin-right: 10px;
                transform: translateY(24%);
                font-size: 50px;
                color: gray;
            }
            tr{
                
                border-bottom: 1px solid gray;
            }
           img{
               margin: 10px 5px;
               width: 100px;
               height: 100px;
           }
        }
        .box{
            span{
                color: rgb(31, 83, 83);
                cursor: pointer;
                font-size: 5rem;
            }
            text-align: center;
            width: 500px;
            height: 300px;
            background: #d6d5d5;
            margin: 0 auto;
        }
    }
}